<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Bookings</title>
</head>
<body>
<h1>All Bookings</h1>
<table th:unless="${#lists.isEmpty(allBookings)}">
    <tr>
        <th>Booking ID</th>
        <th>Guest Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="b : ${allBookings}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.customer.name}"></td>
        <td><a th:href="@{/bookings/updateForm/{id}(id=${b.id})}">Update</a></td>
        <td><a th:href="@{/bookings/delete/{id}(id=${b.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>
