<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password Page</title>
</head>
<body>
<h1>Forgot Password Page</h1>
<form th:action="@{/forgotpassword}" th:object="${user}" method="post">
    <label for="username">Mail:</label>
    <input type="text" id="username" th:field="*{username}"><br><br>
    <input type="submit" value="Submit Mail"><br><br>
</form>
<!--<a th:href="@{/forgot}">Link</a>-->
</body>
</html>