<!DOCTYPE html>
<html xmlns:th="http:///www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dummy</title>
</head>
<body>
<div style="border:1px solid black">
    <p><b>For testing</b></p>
    <p th:text="'guests: ' + ${guests}"></p>
    <p th:text="'checkin: ' + ${checkin}"></p>
    <p th:text="'checkout: ' + ${checkout}"></p>
</div>
</body>
</html>
<div th:if="${#lists.isEmpty(list)}">
    <p>No rooms available</p>
</div>
<div th:unless="${#lists.isEmpty(list)}">
    <table>
        <tbody>
        <tr>
            <td><b>Room number</b></td>
            <td><b>Room type</b></td>
            <td><b>Price per night</b></td>
            <td><b>Total nights</b></td>
            <td><b>Total price</b></td>
            <td><b>Extra bed(s)</b></td>
        </tr>
        <tr th:each="booking : ${list}">
            <td th:text="${booking.room.roomNumber}"></td>
            <td th:text="${booking.room.roomType.type}"></td>
            <td th:text="${booking.room.roomType.pricePerNight + 'kr'}"></td>
            <td th:text="${nights}"></td>
            <td th:text="${nights * booking.room.roomType.pricePerNight} + 'kr'"></td>
            <td th:text="${booking.extraBedAmt}"></td>
        </tr>
        <!--
        private RoomDto room;
            private long id;
            private int roomNumber;
            private RoomTypeDto roomType;
                    private Long id;
                    private String type;
                    private int maxExtraBed;
                    private int maxPerson;
                    private double pricePerNight;
        private CustomerDto customer;
            private Long id;
            private String name;
            private String phone;
        private Date checkinDate;
        private Date checkoutDate;
        private int guestAmt;
        private int extraBedAmt;
        -->



        </tbody>
    </table>
</div>

<!--
<a th:href="@{/kategori/deleteById/{id}(id=${cat.id})}">Delete</a>
<input type="hidden" id="custId" name="custId" value="3487">

<td><a th:href="@{/roomtypes/deleteById/{id}(id=${item.id})}">Delete</a></td>
<td><a th:href="@{/kategori/updateById/{id}(id=${item.id})}">Update</a></td>
-->