<!DOCTYPE html>
<html xmlns:th="http:///www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .custom-width-25 {
            width: 25%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container text-center m-5">
    <div class="mt-2 mb-4">
        <a href="http://localhost:8080/"><img src="/js/logo.png"></a>
    </div>
    <div th:if="${!#strings.isEmpty(blacklistMsg)}">
        <p th:text="${blacklistMsg}" style="color: red"></p>
    </div>
    <div th:unless="${!#strings.isEmpty(blacklistMsg)}">
        <div class="my-3">
            <h4>Booking complete! ✌️</h4>
        </div>
        <div class="rounded border border-dark custom-width-25 text-center p-3">
            <p th:text="'Name: ' + ${name}"></p>
            <p th:text="'Phone: ' + ${phone}"></p>
            <p th:text="'Room number: ' + ${roomnumber}"></p>
            <p th:text="'Checkin: ' + ${checkin}"></p>
            <p th:text="'Checkout: ' + ${checkout}"></p>
            <p th:text="'Guests: ' + ${guests}"></p>
            <p th:text="'Extra beds: ' + ${extrabeds}"></p>
            <p th:text="'Full price: ' + ${fullprice} + 'kr'"></p>
            <p th:text="'Discount: ' + ${discount} + 'kr'"></p>
            <p th:text="'Total price: ' + ${discountedprice} + 'kr'"></p>
        </div>
    </div>
</div>
<!-- FOR TESTING ONLY
<div style="border:1px solid black">
    <p><b>For testing</b></p>
    <p>document: getBookingConfirmation.html</p>
    <p th:text="'name: ' + ${name}"></p>
    <p th:text="'phone: ' + ${phone}"></p>
    <p th:text="'roomnumber: ' + ${roomnumber}"></p>
    <p th:text="'checkin: ' + ${checkin}"></p>
    <p th:text="'checkout: ' + ${checkout}"></p>
    <p th:text="'guests: ' + ${guests}"></p>
    <p th:text="'extrabeds: ' + ${extrabeds}"></p>
</div>
-->
</body>
</html>