<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Page</title>
</head>
<body>
<h1>Password Reset Page</h1>
<form th:action="@{/passwordreset}" th:object="${passwordReset}" method="post">
<!--    <label for="token">Token:</label>-->
<!--    <input type="text" id="token"><br><br>-->

    <label for="mail">Email:</label>
    <input type="email" id="mail" th:field="*{mail}"><br><br>
    <label for="password">New Password:</label>
    <input type="password" id="password" th:field="*{newPassword}"><br><br>
    <label for="confirmpassword">Confirm New Password:</label>
    <input type="password" id="confirmpassword"><br><br>
    <input type="submit" value="Reset Password">
</form>
</body>
</html>