<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Booking</title>
</head>
<body>
<form action="getAvailable" method="get">
    <label for="guests">Number of guests:</label><br>
    <input type="number" id="guests" name="guests" value=1><br>
    <label for="checkin">Checkout date:</label><br>
    <input type="date" id="checkin" name="checkin"><br>
    <label for="checkout">Checkout date:</label><br>
    <input type="date" id="checkout" name="checkout"><br>
    <input type="submit" value="Search">
</form>
</body>
</html>
